{{> cabeza}}

    <!--Justo como está escrito debajo se debe de hacer para que jale.-->
    {{> navbar}}

    <div class="row">

      <div class="col-8">
        <h1>Esta es una imagen de un ningen</h1>

        <p>
          El ningen es una criatura de la criptozoología que se le ha visto
          por los oceanos de Japón, se dice que es una criatura muy grande y albina
          que le gusta estar en las aguas frías de la antártiday vista por los pescadores
          e investigadores de la zona. <br><br>
          Actualmente no se sabe si la criatura es inofensiva de manera general o si sólo
          lo es en ciertos casos específicos pero lo que es un hecho es de que su gran tamaño
          intimida bastante a quien sea.
        </p>
      </div>

      <div class="col-4">
        <img src="../assets/img/ningen.png" class="img-thumbnail">
      </div>
    </div>

    {{> footeryscripts}}
