{{> cabeza}}

    <!--Justo como está escrito debajo se debe de hacer para que jale.-->
    {{> navbar}}

    <div class="jumbotron"> <!--capitalizar es el nombre del helper y lo de comillas simples es la cadena de texto que le deseo mandar.-->
      <h1 class="display-4">Hola, {{capitalizar nombre}}</h1>
      <p class="lead">Bienvenido a una página demo, recuerda que sólo sirve en la barra de navegación la parte que dice about.</p>
      <hr class="my-4">
      <p>Esta página sólo tiene como objetivo que pueda ser mostrada a más personas, sin embargo, se continuará dando soporte hasta que quede completamente funcional o por lo menos en la mayoría de las opciones que salen en la página.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">No presiones este botón, falta configurarlo</a>
    </div>

    {{> footeryscripts}}
